- if @restaurants.any?
  - @restaurants.each do |restaurant|
    = link_to restaurant.name, restaurant_path(restaurant)
    -if user_signed_in?
      -if current_user.id == restaurant.user_id
        = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
        = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    %h3 Average rating: #{restaurant.average_rating.to_i}
    - @reviews = reviews_for_restaurant(restaurant.id)
  - if @reviews.any?
    - @reviews.each do |review|
      =review.thoughts
      =review.rating
- else
  %h1 No restaurants yet!

%a(href='/restaurants/new') Add a restaurant
